# **`ETL` de Datos obtenidos de accidentes fatales en Montevideo, Uruguay**

### A los fines de realizar una comparativa de los accidentes fatales entre CABA y Montevideo (Uruguay), se obtuvieron datos del Catálogo de Datos Abiertos de Uruguay, los cuales se pueden descargar desde el siguiente [enlace](https://catalogodatos.gub.uy/dataset/unasev-fallecidos_siniestros_transito). Los mismos se encuentran en la carpeta [Datos_Uruguay](Datos_Uruguay).

### Posteriormente editaremos el archivo [accidentes](accidentes.xlsx) para que sea igual al de Montevideo, y así poder usarlos con mayor comodidad en el Dashboard.

### Importamos las librerías necesarias

In [10]:
import pandas as pd
import warnings
warnings.simplefilter("ignore", UserWarning)

In [2]:
df_2016 = pd.read_excel('Datos_Uruguay/fallecidos-2016.xlsx')
df_2017 = pd.read_excel('Datos_Uruguay/fallecidos-2017.xlsx')
df_2018 = pd.read_excel('Datos_Uruguay/fallecidos-2018b.xlsx')
df_2019 = pd.read_excel('Datos_Uruguay/fallecidos-nueva.xlsx')

### Accidentes fatales en Montevideo, Uruguay durante el año 2016

In [3]:
df_2016.head(2)

,Fecha y hora,Departamento,Localidad,Jurisdiccion,Tipo de Siniestro,Vehiculo,Rol,Edad,Sexo,Fallecido a los Dias,Otro vehiculo,Lugar del Siniestro,X,Y
0,2016-01-02 21:30:00,RIVERA,N/C,NACIONAL,ATROPELLO DE PEATÓN,PEATÓN,PEATÓN,83.0,M,0,CAMIONETA,RUTA 5 km. 481,634090.032621,6.565695e+06
1,2016-01-03 15:25:00,MALDONADO,ESTACION LAS FLORES,NACIONAL,DESPISTE,AUTO,CONDUCTOR,78.0,F,1,NaN,RUTA 9 km. 87,652988.993336,6.149297e+06

In [4]:
# Eliminamos las filas donde la Localidad no sea Montevideo
df_2016 = df_2016[df_2016['Localidad'] == 'MONTEVIDEO']

In [5]:
df_2016.head(2)

,Fecha y hora,Departamento,Localidad,Jurisdiccion,Tipo de Siniestro,Vehiculo,Rol,Edad,Sexo,Fallecido a los Dias,Otro vehiculo,Lugar del Siniestro,X,Y
8,2016-01-09 00:55:00,MONTEVIDEO,MONTEVIDEO,DEPARTAMENTAL,COLISIÓN ENTRE VEHÍCULOS,MOTO,PASAJERO,33.0,M,1,AUTO,MIGUELETE esq. DEFENSA,575455.372359,6.138581e+06
9,2016-01-09 02:25:00,MONTEVIDEO,MONTEVIDEO,DEPARTAMENTAL,COLISIÓN ENTRE VEHÍCULOS,MOTO,CONDUCTOR,58.0,M,0,OMNIBUS,AVENIDA BURGUES esq. MAXIMO GOMEZ,574698.261696,6.142780e+06

In [6]:
# Eliminamos las columnas que no nos interesan
df_2016.drop(columns=['Departamento','Jurisdiccion ','Tipo de Siniestro','Vehiculo','Rol','Edad','Sexo',
                        'Fallecido a los Dias','Otro vehiculo','Lugar del Siniestro','X','Y'], inplace=True)

In [7]:
df_2016.head(2)

          Fecha y hora   Localidad
8  2016-01-09 00:55:00  MONTEVIDEO
9  2016-01-09 02:25:00  MONTEVIDEO

### Accidentes fatales en Montevideo, Uruguay durante el año 2017

In [8]:
df_2017.head(2)

,Fecha y hora,Departamento,Localidad,Jurisdiccion,Tipo de Siniestro,Vehiculo,Rol,Edad,Sexo,Fallecido a los Dias,Otro vehiculo,Lugar del Siniestro,X,Y
0,2017-01-01 05:50:00,MONTEVIDEO,MONTEVIDEO,NACIONAL,DESPISTE,MOTO,CONDUCTOR,39.0,M,0,NaN,RAMBLA VEINTICINCO DE AGOSTO DE 1825 esq. JUAN...,572623.8628,6137495.0568
1,2017-01-02 07:50:00,ROCHA,ROCHA,NACIONAL,DESPISTE,AUTO,CONDUCTOR,21.0,M,0,NaN,"RUTA 9 KM 18,000",730559.66,6164320.54

In [9]:
# Eliminamos las filas donde la Localidad no sea Montevideo
df_2017 = df_2017[df_2017['Localidad'] == 'MONTEVIDEO']

In [10]:
df_2017.head(2)

,Fecha y hora,Departamento,Localidad,Jurisdiccion,Tipo de Siniestro,Vehiculo,Rol,Edad,Sexo,Fallecido a los Dias,Otro vehiculo,Lugar del Siniestro,X,Y
0,2017-01-01 05:50:00,MONTEVIDEO,MONTEVIDEO,NACIONAL,DESPISTE,MOTO,CONDUCTOR,39.0,M,0,NaN,RAMBLA VEINTICINCO DE AGOSTO DE 1825 esq. JUAN...,572623.8628,6137495.0568
2,2017-01-02 07:10:00,MONTEVIDEO,MONTEVIDEO,DEPARTAMENTAL,ATROPELLO DE PEATÓN,PEATÓN,PEATÓN,62.0,F,0,OMNIBUS,EDUARDO VICTOR HAEDO Esq. DOCTOR MARIO CASSINONI,576185.9833,6138222.2904

In [11]:
# Eliminamos las columnas que no nos interesan
df_2017.drop(columns=['Departamento','Jurisdiccion ','Tipo de Siniestro','Vehiculo','Rol','Edad','Sexo',
                        'Fallecido a los Dias','Otro vehiculo','Lugar del Siniestro','X','Y'], inplace=True)

In [12]:
df_2017.head(2)

          Fecha y hora   Localidad
0  2017-01-01 05:50:00  MONTEVIDEO
2  2017-01-02 07:10:00  MONTEVIDEO

### Accidentes fatales en Montevideo, Uruguay durante el año 2018

In [13]:
df_2018.head(2)

,Fecha y hora,Departamento,Localidad,Jurisdiccion,Tipo de Siniestro,Vehiculo,Rol,Edad,Sexo,Fallecido a los Dias,Otro vehiculo,Lugar del Siniestro,X,Y
0,2018-01-02 21:00:00,MONTEVIDEO,MONTEVIDEO,DEPARTAMENTAL,COLISIÓN ENTRE VEHÍCULOS,MOTO,CONDUCTOR,59.0,M,6,OMNIBUS,AVENIDA GENERAL EUGENIO GARZON ESQ.ISLAS CANARIAS,571142.1911,6.144079e+06
1,2018-01-03 04:53:00,MALDONADO,SAN CARLOS,DEPARTAMENTAL,COLISIÓN ENTRE VEHÍCULOS,MOTO,CONDUCTOR,20.0,M,0,CAMION,JACINTO MARIA ALVARIZA ESQ. TREINTA Y TRES,690204.0954,6.148101e+06

In [14]:
# Eliminamos las filas donde la Localidad no sea Montevideo
df_2018 = df_2018[df_2018['Localidad'] == 'MONTEVIDEO']

In [15]:
df_2018.head(2)

,Fecha y hora,Departamento,Localidad,Jurisdiccion,Tipo de Siniestro,Vehiculo,Rol,Edad,Sexo,Fallecido a los Dias,Otro vehiculo,Lugar del Siniestro,X,Y
0,2018-01-02 21:00:00,MONTEVIDEO,MONTEVIDEO,DEPARTAMENTAL,COLISIÓN ENTRE VEHÍCULOS,MOTO,CONDUCTOR,59.0,M,6,OMNIBUS,AVENIDA GENERAL EUGENIO GARZON ESQ.ISLAS CANARIAS,571142.1911,6.144079e+06
2,2018-01-03 08:30:00,MONTEVIDEO,MONTEVIDEO,NACIONAL,COLISIÓN ENTRE VEHÍCULOS,MOTO,CONDUCTOR,28.0,M,0,CAMION,"RUTA 102 KM 28,000",585614.7100,6.149073e+06

In [16]:
# Eliminamos las columnas que no nos interesan
df_2018.drop(columns=['Departamento','Jurisdiccion ','Tipo de Siniestro','Vehiculo','Rol','Edad','Sexo',
                        'Fallecido a los Dias','Otro vehiculo','Lugar del Siniestro','X','Y'], inplace=True)

In [17]:
df_2018.head(2)

          Fecha y hora   Localidad
0  2018-01-02 21:00:00  MONTEVIDEO
2  2018-01-03 08:30:00  MONTEVIDEO

### Accidentes fatales en Montevideo, Uruguay durante el año 2019

In [18]:
df_2019.head(2)

,Fechayhora,Departamento,Localidad,Jurisdiccion,TipodeSiniestro,Vehiculo,Rol,Edad,Sexo,FallecidoalosDias,Otrovehiculo,LugardelSiniestro,X,Y
0,2019-01-02 13:30:00,CANELONES,PARQUE DEL PLATA,NACIONAL,ATROPELLO DE PEATÓN,PEATÓN,PEATÓN,28,F,10,AUTO,"RUTA INTERBALNEARIA KM 51,000",618263.27,6153928.04
1,2019-01-02 20:40:00,TACUAREMBO,N/C,NACIONAL,COLISIÓN ENTRE VEHÍCULOS,BICICLETA,CONDUCTOR,51,M,0,CAMIONETA,"RUTA 26 KM 239,000",601343.35,6492627.09

In [19]:
# Eliminamos las filas donde la Localidad no sea Montevideo
df_2019 = df_2019[df_2019['Localidad'] == 'MONTEVIDEO']

In [20]:
df_2019.head(2)

,Fechayhora,Departamento,Localidad,Jurisdiccion,TipodeSiniestro,Vehiculo,Rol,Edad,Sexo,FallecidoalosDias,Otrovehiculo,LugardelSiniestro,X,Y
4,2019-01-05 12:54:00,MONTEVIDEO,MONTEVIDEO,NACIONAL,ATROPELLO DE PEATÓN,PEATÓN,PEATÓN,77,F,0,CAMIONETA,"ACCESOS KM 4,400",569373.303745,6.140971e+06
5,2019-01-05 14:13:00,MONTEVIDEO,MONTEVIDEO,DEPARTAMENTAL,COLISIÓN ENTRE VEHÍCULOS,CAMION,PASAJERO,70,F,1,AUTO,JUAN JACOBO ROUSSEAU ESQ. HAVANA,579069.920600,6.142002e+06

In [21]:
# Eliminamos las columnas que no nos interesan
df_2019.drop(columns=['Departamento','Jurisdiccion ','TipodeSiniestro','Vehiculo','Rol','Edad','Sexo',
                        'FallecidoalosDias','Otrovehiculo','LugardelSiniestro','X','Y'], inplace=True)

In [22]:
# Renombramos la columna para que coincida con las otras tablas
df_2019.rename(columns={'Fechayhora':'Fecha y hora'}, inplace=True)

In [23]:
df_2019.head(2)

          Fecha y hora   Localidad
4  2019-01-05 12:54:00  MONTEVIDEO
5  2019-01-05 14:13:00  MONTEVIDEO

### Unimos los 4 dataframes en uno solo

In [24]:
dfs = [df_2016, df_2017, df_2018, df_2019]

In [25]:
df_montevideo = pd.concat(dfs, ignore_index=True)
df_montevideo.reset_index(drop=True, inplace=True)

In [26]:
# Creamos la columna Id_Hecho para que coincida con las otras tablas
df_montevideo['Id_Hecho'] = range(1, len(df_montevideo) + 1)

In [27]:
# Creamos la columna Gravedad y la rellenamos con el valor FATAL
df_montevideo['Gravedad'] = 'FATAL'

In [28]:
# Renombramos las columnas
nombre_columnas = {'Fecha y hora':'FECHA','Localidad':'LOCALIDAD','Id_Hecho':'ID_HECHO','Gravedad':'GRAVEDAD'}
df_montevideo.rename(columns=nombre_columnas, inplace=True)

In [30]:
# Cambiamos el formato de la fecha
df_montevideo['FECHA'] = pd.to_datetime(df_montevideo['FECHA'])
df_montevideo['FECHA'] = df_montevideo['FECHA'].dt.date

### Guardamos el dataframe en un archivo excel

In [8]:
df_montevideo.to_excel('accidentes_fatales_montevideo.xlsx', index=False)

### **Cargamos el archivo excel de accidentes en CABA para adaptarlo al formato del dataframe de Uruguay**

In [11]:
accidentes_fatales_CABA = pd.read_excel('accidentes.xlsx')

In [12]:
accidentes_fatales_CABA.head(2)

,ID_HECHO,N_VICTIMAS,FECHA,HORA,TIPO_DE_CALLE,COMUNA,XY (CABA),LONGITUD,LATITUD,VEHICULO_ACUSADO,GRAVEDAD,CARATULA_POLICIAL
0,2016-0001,1,2016-01-01,4.0,AVENIDA,8.0,Point (98896.78238426 93532.43437792),-58.475340,-34.687570,AUTO,FATAL,HOMICIDIO CULPOSO
1,2016-0002,1,2016-01-02,1.0,AVENIDA,9.0,Point (95832.05571093 95505.41641999),-58.508775,-34.669777,PASAJEROS,FATAL,HOMICIDIO CULPOSO

In [13]:
accidentes_fatales_CABA.columns

Index(['ID_HECHO', 'N_VICTIMAS', 'FECHA', 'HORA', 'TIPO_DE_CALLE', 'COMUNA',
       'XY (CABA)', 'LONGITUD', 'LATITUD', 'VEHICULO_ACUSADO', 'GRAVEDAD',
       'CARATULA_POLICIAL'],
      dtype='object')

In [14]:
# Eliminamos las columnas que no nos interesan
accidentes_fatales_CABA.drop(columns=['N_VICTIMAS','HORA','TIPO_DE_CALLE','COMUNA','XY (CABA)','LONGITUD',
                            'LATITUD','VEHICULO_ACUSADO','CARATULA_POLICIAL'], inplace=True)

In [15]:
# Creamos la columna Gravedad y la rellenamos con el valor FATAL
accidentes_fatales_CABA = accidentes_fatales_CABA[accidentes_fatales_CABA['GRAVEDAD'] == 'FATAL']

In [16]:
accidentes_fatales_CABA.head(2)

    ID_HECHO      FECHA GRAVEDAD
0  2016-0001 2016-01-01    FATAL
1  2016-0002 2016-01-02    FATAL

In [17]:
# Creamos la colimna LOCALIDAD y la rellenamos con el valor CABA
accidentes_fatales_CABA['LOCALIDAD'] = 'CABA'

In [18]:
accidentes_fatales_CABA.head(2)

    ID_HECHO      FECHA GRAVEDAD LOCALIDAD
0  2016-0001 2016-01-01    FATAL      CABA
1  2016-0002 2016-01-02    FATAL      CABA

### Guardamos el dataframe en un archivo excel

In [19]:
accidentes_fatales_CABA.to_excel('accidentes_fatales_CABA.xlsx')